.menu{
    display: flex;
    gap: 72px;
    font-size: 1,25rem;
    transition: border-color .5s;
}
.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}
.menu li:hover{
    border-color: var(--primary-color);
}
.bars{
    display: none;
}

@media(max-width:960px){
    .menu{
        display: none; 
    }
    .bars{
        display: block;
        font-size: 2rem;
    }
}
@media(max-width:640px){
    .menu{
        gap: 1px;
    }

}