.sobre-mim{  
    max-width: 1200px;  
    width: 100%;
    display: grid;
    grid-template-areas:
        "title title"
        "description skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.description__title{
    font-size: 48px;
    color: var(--primary-color);
}
.description__text{
    font-size: 1.5rem;
    width: 85%;
    line-height: 150%;
}
.skills{
    grid-area: skills;
    display: flex;
    flex-direction: column;

}
.skills__title{
    font-size: 48px;
    color: var(--primary-color);
}
.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.skills__icon{
    width: 150px;
    height: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.skills__icon i{
    font-size: 4rem;
}
.skills__icon span{
    font-weight: 700;
    font-size: 2rem;
}

@media(max-width:960px){
    .sobre-mim{  

        grid-template-areas:
            "title title"
            "description description" 
            "skills skills";
            gap: 0;

    }
    .description{
        padding: 50px;
    }
    .skills{
        padding: 50px;
    }
    .skills__container{
        gap: 26px;
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width:640px){

    .description__title{
        font-size: 24px;
    }
    .description__text{
        font-size: 1rem;

    }
    .skills__title{
        font-size: 24px;
        color: var(--primary-color);
    }
    .skills__icon{
        width: 100px;
        height: 100px;

    }
    .skills__icon i{
        font-size: 3rem;
    }
    .sobre-mim{
        height: 1000px;
    }
    .skills__icon span{
        font-size: 1.5rem;
    }

}